# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
venv/
ENV/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite3-journal
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
*.pid
docker-compose.override.yml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# celery
celerybeat-schedule
